cachetools==5.5.0
Cartopy==0.24.0
catboost==1.2.7
click==8.1.7
cloudpickle==3.1.0
config==0.5.1
cycler==0.12.1
decorator==5.1.1
et_xmlfile==2.0.0
gitdb==4.0.11
GitPython==3.1.43
graphviz==0.20.3
importlib_metadata==8.5.0
importlib_resources==6.4.5
jupyter==1.1.1
lightgbm==4.5.0
lxml==5.3.0
markdown-it-py==3.0.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
nltk==3.9.1
notebook==7.2.2
numpy==1.26.4
pandas==2.2.3
pickleshare==0.7.5
pip==24.2
plotly==5.24.1
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
setuptools==75.1.0
shapely==2.0.6
streamlit==1.39.0
toml==0.10.2
tomli==2.0.2
toolz==1.0.0
xgboost==2.1.1
zipp==3.20.2
