cached-property==1.5.2
cachetools==5.5.0
catboost==1.2.7
click==8.1.7
config==0.5.1
entrypoints==0.4
gitdb==4.0.11
GitPython==3.1.43
lightgbm==4.5.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
pickleshare==0.7.5
pip==24.2
platformdirs==4.3.6
plotly==5.24.1
scikit-learn==1.5.2

seaborn==0.13.2
streamlit==1.39.0
toml==0.10.2
xgboost==2.1.1
